<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">USER</h5>
          <p class="card-text">Télécharger un fichier PDF</p>
          <a [routerLink]="['/user']" class="btn btn-primary">User ici</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">ADMIN</h5>
          <p class="card-text">Chercher avec elasticsearch</p>
          <a [routerLink]="['/admin']" class="btn btn-primary">Admin ici</a>
        </div>
      </div>
    </div>
  </div>
</div>
